* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  height: 60px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background: #c0392b;
  color: #ecf0f1
}

h1 span {
  letter-spacing: 10px;
}

h1 span b:nth-child(1) {
 color: #f1c40f
}

h1 span b:nth-child(2) {
 color: #3498db 
}

h1 span b:nth-child(3) {
 color: #ff008f 
}

footer {
  max-width: 900px;
  margin: 0 auto
}

footer section {
  display: flex;
}

footer section div {
  flex-basis: 60px;
  flex-grow: 1;
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
  border: 1px solid black
}

footer section span {
  display: block
}

.key-width1, .key-width2, .key-width3 {
  padding: 20px 5px
}

.key-width1 {
  flex-basis: 100px
}

.key-width2 {
  flex-basis: 120px
}

.key-width3 {
 flex-basis: 150px;
}

#enter-key {
 text-align: right
}

#shift-right-key {
  text-align: right;
}


